//begin about
section.about
  .container
    .about__left
      h2.about-title Компания
      p Мы, деревообрабатывающие предприятие, специализируемся на производстве и оптовой продаже деревянной тары. Производим и продаем новые деревянные поддоны, облегчённые поддоны, европоддоны, новые поддоны 2-го и 3-го сорта, а также любой другой вид деревянной тары по индивидуальным размерам заказчика.
      p Наша компания предлагает сотрудничество различным предприятием пищевых, строительных, аграрных, промышленных и прочих отраслях деятельности на взаимовыгодных условиях.
      p Наша команда из высококвалифицированных специалистов всегда готова решить поставленную задачу клиента, а также гарантировать своевременное выполнение заказов на производство и покупку того или иного вида поддона придерживаясь установленных стандартов качества сохраняя, при этом, самые привлекательные цены.
//end   about