//begin advantages
.advantages
  .container
    // begin advantages-item
    .advantages-item
      .advantages-item__pic.advantages-item__pic--quality
        img(src="assets/img/quality.svg" alt="icon")
      h2.advantages-item__title Качество
      .advantages-item__text
        p профессиональная сбивка паллетов на специальном оборудовании гарантирует точные размеры и высокое качество
    // end advantages-item

    // begin advantages-item
    .advantages-item
      .advantages-item__pic.advantages-item__pic--pig
        img(src="assets/img/pig.svg" alt="icon")
      h2.advantages-item__title Цена
      .advantages-item__text
        p оптимизация производственного процесса позволяет нам предлагать конкурентную цену
    // end advantages-item

    // begin advantages-item
    .advantages-item
      .advantages-item__pic.advantages-item__pic--car
        img(src="assets/img/car.svg" alt="icon")
      h2.advantages-item__title Расположение
      .advantages-item__text
        p близость к Киеву, хорошая транспортная развязка, удобный подъезд грузовых автомобилей
    // end advantages-item

    // begin advantages-item
    .advantages-item
      .advantages-item__pic.advantages-item__pic--pens
        img(src="assets/img/pens.svg" alt="icon")
      h2.advantages-item__title Уникальность
      .advantages-item__text
        p производим  уникальные поддоны  по индивидуальному заказу заказчика
    // end advantages-item


//end   advantages