//begin ahtung
section.ahtung
  .container
    .ahtung__left
      h2.ahtung__title Вниманию поставщиков
    .ahtung__right
      p Производственная компания «TOPPALLET», приглашает к сотрудничеству поставщиков и производителей паллетной заготовки. Купим паллетную заготовку для производства облегченных поддонов.
//end   ahtung