// begin header
header.header
  .container
    a(href="#").header-logo
      +svg('logo')
    .header-contacts
      a(href="tel:+380660084443").header-contacts__phone-link
        +svg('phone')
        span.header-contacts__phone-text +38 (066) 008-44-43
      span.header-contacts__callback.btn-popup.btn-popup--sm Заказать обратный звонок
// end header