//begin production
section.production
  .container
    h2.production__header-title Продукция компании
    .production__list
      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1500 кг
          h3.production__title поддон деревянный облегченный (настил семь досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт).
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные, семидосточные. Поддоны без плесени, шашеля и острого обзела. ЧИСТЫЕ. Толщина доски: 20-22 мм. Продаем новые поддоны на постоянной основе.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1500 кг
          h3.production__title поддон деревянный облегченный (настил семь досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт).
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные, семидосточные. Поддоны без плесени, шашеля и острого обзела. ЧИСТЫЕ. Толщина доски: 20-22 мм. Продаем новые поддоны на постоянной основе.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1500 кг
          h3.production__title поддон деревянный облегченный (настил семь досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт).
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные, семидосточные. Поддоны без плесени, шашеля и острого обзела. ЧИСТЫЕ. Толщина доски: 20-22 мм. Продаем новые поддоны на постоянной основе.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1500 кг
          h3.production__title поддон деревянный облегченный (настил семь досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт).
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные, семидосточные. Поддоны без плесени, шашеля и острого обзела. ЧИСТЫЕ. Толщина доски: 20-22 мм. Продаем новые поддоны на постоянной основе.
      // end production row

    .production-footer
      a(href="#").btn Оформить заявку



//end   production
