//begin production
section.production
  .container
    h2.production__header-title Продукция компании
    .production__list
      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1500 кг
          h3.production__title поддон деревянный облегченный (настил семь досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт).
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные, семидосточные. Поддоны без плесени, шашеля и острого обзела. ЧИСТЫЕ. Толщина доски: 20-22 мм. Продаем новые поддоны на постоянной основе.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1200 кг
          h3.production__title поддон деревянный облегченный (настил пять досок)
          .production__text
            p Поддон новый деревянный облегченный (первый сорт) пятидосточный.
            p Поддоны высокого качества. Деревянные поддоны из деревьев сосновых пород (допускается тополь). Облегченные с настилом в пять досок. Поддоны чистые, без плесени, шашеля и острого обзела. Продаем новые поддоны на постоянной основе.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          .production__params
            .production__params--size
              +svg('size')
              span 1200х800х144
            .production__params--weight
              +svg('weight')
              span до 1000 кг
          h3.production__title поддон деревянный облегченный (3 сорт)
          .production__text
            p Поддон деревянный облегчённый (3 сорт). Настил пять-семь досок. Для производства такого вида поддона используется обрезная древесина, острый обзол. Зазор между досками не более 70 мм. Поддон облегчённый выпускается стандартных размеров 1200*800*144 мм. Толщина досок 18-25 мм. Поддоны облегчённые пользуются спросом для складских помещений.
      // end production row

      // begin production row
      .production__row
        .production__pic
          img(src="assets/img/product-01.png" alt="поддон")
        .production__info
          h3.production__title Деревянная тара под заказ по индивидуальному проекту клиента
          .production__text
            p У нас вы можете заказать нестандартные поддоны по вашим размерам и требованиям. К достоинствам наших поддонов относится экологичность, высокая прочность, лёгкость, надёжность. Предлагаем поддоны облегчённые однонастильные. Услуги изготовления деревянной тары по индивидуальным заказам. Прочные, рассчитанные на многоразовое использование поддоны, по оптимальной цене. Надёжные поддоны по хорошей цене.
      // end production row

    .production-footer
      a(href="#").btn.btn-popup.btn-popup--lg Оформить заявку



//end   production
