//begin top-section
section.top-section
  .container
    .top-section__left
      h2.top-section__title Производство и продажа деревянных  поддонов
      h3.top-section__subtitle деревянных паллет, деревянной тары  по стандартам и под заказ в Украине
      a(href="#").btn.btn-popup.btn-popup--lg Оформить заявку
    .top-section__right
      .top-section__right-pallet
        img(src="assets/img/pallet.png" alt="Паллета")
//end   top-section