// ***** main colors *******
$brand: #442c1a;
$dark: #242d3c;
$light: #f3eddf;

$highlight: #ffb438;
$highlight-hov: #ffde00;

// ***** text colors *******
$text: #242d3c;
$title: #000000;

// ===== fonts =====
$font:            'Montserrat', sans-serif;
$font-bold:       'Montserrat', sans-serif;
$font-medium:      'Montserrat', sans-serif;
