extends ../_template

block variables
  - var title       = 'Toppallet'
  - var description = 'Toppallet'
  - var ogtitle     = 'Toppallet'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    .main
      include ../sections/top-section
      include ../sections/advantages
      include ../sections/about
      include ../sections/ahtung
      include ../sections/production
    //end content

    include ../sections/footer
    include ../elements/popup